.container {
  height: 100vh;
  width: 100%;
}

.chat_container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.chat_container input {
  color: black;
}

.CP {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .Rickroll_last {
  width: ;
} */

.final_rickroll {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: -10%;
}

.RickROll {
  height: 100vh;
  width: 60%;
}

.Game {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
}

.Game button {
  margin-top: 20%;
  height: 10px;
  padding: 50px;
}